<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Redirecting...</title>
  <script type="text/javascript">
    window.onload = function() {
      var ua = navigator.userAgent || navigator.vendor || window.opera;
      var isMobile = /android|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(ua.toLowerCase());
      
      if (isMobile) {
        // On mobile, use the tg:// URL scheme to launch the Telegram app.
        window.location.replace("tg://resolve?domain={{ bot_username }}{{ start_param }}");
      } else {
        // On PC, redirect to the Telegram web version.
        window.location.replace("https://t.me/{{ bot_username }}{{ start_param }}");
      }
    };
  </script>
</head>
<body>
</body>
</html>
